//Colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;
$grey: #747373;

$container-width: 940px;
$footer-height: 60px;


@mixin text($color: white) {
  font-family: 'ubuntu';
  font-size: 14px;
  font-weight: 300;
  color: #{$color};
  line-height: 1.42;
}

@mixin content-overflow($height: 170px) {
  max-height: $height;
  overflow: hidden;
}

//Placeholders
%clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}


// Layout
@import "layout/normalize";
@import "layout/adjustement";
@import "layout/fonts.css";

//Common
@import "common";


//Sections
@import "sections/first_page";
@import "sections/best";
@import "sections/burgers";
@import "sections/team";
@import "sections/menu";
@import "sections/response";
@import "sections/delivery";
@import "sections/map";

@import "sections/fixed_menu";