.main {
  background-image: url("../img/bg/main_bg.jpg");
  position: relative;

  &__left {
    float: left;
    width: 50%;
  }

  &__right {
    padding-top: 115px;
    float: right;
    width: 50%;
  }

  &__title {
    text-align: left;
  }

  &__description {
    font-size: 65px;
    font-family: 'lifehack';
    color: #fff;
    text-transform: lowercase;
    //line-height: 1em; нужно ли?

  }
}

.header {
  @extend %clearfix;
  position: absolute;
  //Абсолют стоит, чтобы хэдер выпал из потока и контейнер правильно выровнялся
  width: 100%;
  padding-top: 11px;

  &__container {
    margin: 0 auto;
    width: $container-width;
    @extend %clearfix;
  }
  &__logo {
    float: left;
  }
  &__navigation {
    padding-top: 25px;
    float: right;
  }

}

.navigation {

  &__item {
    display: inline-block;
    margin-left: 12px;

    &:hover {
      text-decoration: underline;
    }

    &::after {
      content: '';
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #fff;
      display: inline-block;
      margin-left: 14px;
      vertical-align: middle;
    }

    &:last-child::after {
      display: none;
    }

    &:last-child:hover {
      text-decoration: none;
    }

    &:nth-child(6)::after {
      display: none;
    }

  }


  &__link {
    font-size: 13px;
    font-family: 'Ubuntu';
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;

  }
}

.bottom-arrow {
  position: absolute;
  left: 50%;
  bottom: 20px;
  width: 50px;
  height: 50px;
  transform: translateX(-50%);

  &:hover {
    .bottom-arrow__img {
      width: 33px;
      height: 33px;
      bottom: 14px;
    }

  }

  &__img {
    position: absolute;
    width: 28px;
    height: 28px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s;


  }

}

