.review__list {
  min-width: $container-width+20px;
  height: 100%;
  @extend %clearfix;
}

.review__item {
  height: 50%;
  width: 25%;
  float: left;

  &:hover{

    .reviewer__hover {
      transform: scale(1);
      opacity: 1;

    }
  }
}
.reviewer {
  height: 100%;
  width: 100%;
  position: relative;

  &__photo {
    height: 100%;
    width: 100%;
    background: no-repeat center center;
    background-size: cover;
    position: relative;
  }

  &__hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(20, 20, 20, .7);
    transform: scale(0.9);
    opacity: 0;
    overflow: hidden;
    transition: .5S;

  }

  &__info {
    padding: 17% 13% 0;
  }

  &__name {
    font-family: 'gagalin';
    color: white;
    font-size: 14px;
    text-transform: uppercase;
  }

  &__text {
    margin-top: 25px;
    line-height: 1.5;
  }
  &__btn {
    margin-top: 20px;
    background-color: $black;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;

    &:hover {
      background-color: #1f2122;
    }
  }

}
